// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-brand img {
    max-width: 100px;
}

.logo-img {
    img {
        max-width: 100px;
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // background: url('/images/bg.jpg');
    // background-size: cover;
}

@media screen and (max-width: 767px) {
    .logo-img {
        text-align: center;
        width: 100vw;
        padding-bottom: 15px;
    }
    .cdc-container .cdc {
        width: 7em!important;
        padding-bottom: 7em!important;
        .cdc-text h2 {
            font-size: 2em!important;
            font-weight: 900;
        }
    }
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.img-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.img-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 767px) {
  .img-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .img-column {
    flex: 100%;
    max-width: 100%;
  }
}